header {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #006dcc;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  
}

.avatar {
  margin: 120px 0 0 0;

  
}

.name {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 10px auto;
  /* width: auto; */
}

h2 {
  margin: 0px;
}
#profile-pic {
  width : 200px; 
  height: 185px;
}