nav {
  height: 120px;
  width: 100%;
  /* background-color: #4056A1; */
  background-color: #006dcc;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  /* z-index: 1; */
  overflow: hidden;
 
}

span {
  font-family: 'Bungee';
  margin: 1.5em;
}
div {
  margin: 1.5em;
  
}
div .icon {
  margin: auto;
  width: 50%;
  color: red;
  padding: 0px;
  margin-right: 10px;
}