nav {
  height: 120px;
  width: 100%;
  background-color: #006dcc;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  /* overflow: hidden; */
}

.heading {
  font-family: "Bungee";
  margin: 1.5em;
}
.right-header {
  margin: 1.5em;
  display: flex;
  flex-direction: column;
}
.area {
  font-weight: 30;
}

.fa-angles-down {
  margin: auto;
  width: 50%;
  color: #e94957;
  padding: 0px;
  margin-right: 10px;
  animation: fa-angles-down 2s ease infinite;
}
@keyframes fa-angles-down {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Stretch new button */
.new-button {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #006dcc;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");

  color: #ffffff;
}
.new-button:hover {
  cursor: pointer;
}

/* Nav arrow to flip */
.fa-angles-up {
  color: #e42535;
  animation: fa-angles-up 1s ease infinite;
}
@keyframes fa-angles-up {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
