.new-tweet {
  width: 100%;
  display: none;
}
/* Top-Container */
.question {
  padding-top: 40px;
  width: 100%;
  opacity: 0.8;
  display:flex;
  flex-direction: column;
  border-bottom: solid 2px #084982;
}
textarea {
  border-color:  #f4f1ec;
  background-color:  #f4f1ec;
}

/* Button and Counter */
.button-counter {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
  padding-top: 10px;
}
.tweet-button {
  background-color: #006dcc;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  border: 0;
  border-radius: 5px;
  color:  #FFFFFF; 
   font-size: 20px; 
   padding: 8px;
   line-height: 20px;
  font-weight: 600; 
}
.tweet-button:hover {
  cursor: pointer;
}
.counter {
  padding: 8px;
  color: #084982;
}

/* Tweets */
.tweet {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid  #084982;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  padding: 10px;
  padding-left: 20px;
 
}
.tweet:hover {
  box-shadow: 10px 5px 5px #C2C2C7;
}
div.username {
  font-weight: 30;
}

.user-id {
  opacity: 0.5;
 }
 
.tweet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.tweet-text {
  padding-top: 20px;;
  padding-bottom: 25px;
  border-bottom: solid 2px #084982;
}
.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: medium;
}
.tweet-actions {
  width: 6%;
  display: flex;
  justify-content: space-between;
  color: #084982;
}
.fa-flag:hover{
color: goldenrod;
}
.fa-retweet:hover {
  color: goldenrod;
}
.fa-heart:hover {
  color: #ae2516;
}

/* Error-messages */
.long-error {
  color: red;
  border: solid 2px red;
  margin: 5px 5px ;
  text-align: center;
  padding: 20px;
  /* visibility: hidden; */
  display: none;
}
.short-error {
  color: red;
  border: solid 2px red;
  margin: 5px 5px ;
  text-align: center;
  padding: 20px;
  display: none;
}


.scroll-button {
  position: fixed;
  bottom: 0.5em;
  right: 0;
  display: none;
  padding: 5px;
  background-color:  #006dcc;
  color: white;
  height: 70px;
  width: 70px;
  cursor: pointer;
  border-radius: 40%;
  border: 0;
}