.new-tweet {
  width: 100%;
}
/* Top-Container */
.question {
  padding-top: 10px;
  width: 100%;
  display:flex;
  flex-direction: column;
  border-bottom: solid  #084982;
}
textarea {
  border-color:  #f4f1ec;
  background-color:  #f4f1ec;
}

/* Button and Counter */
.button-counter {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
  padding-top: 10px;
}
.tweet-button {
  background-color: #006dcc;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  border: 0;
  color:  #FFFFFF;
}
.tweet-button:hover {
  cursor: pointer;
}
.counter {
  color: #084982;
}

/* Tweets */
.tweet {
  display: flex;
  flex-direction: column;
  border: solid red;
  margin-top: 50px;
  border: solid  #084982;
  padding: 10px;
  padding-left: 20px;
 
}
.tweet:hover {
  box-shadow: 10px 5px 5px grey;
}
div.username {
  font-weight: 30;
}

.user-id {
  opacity: 0.5;
 }
 
.tweet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.tweet-text {
  padding-top: 20px;;
  padding-bottom: 25px;
  border-bottom: solid #084982;
}
.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: medium;
}
.tweet-actions {
  width: 6%;
  display: flex;
  justify-content: space-between;
  color: #084982;
}
.fa-flag:hover{
color: goldenrod;
}
.fa-retweet:hover {
  color: goldenrod;
}
.fa-heart:hover {
  color: #ae2516;
}
