.new-tweet {
  width: 100%;
}
.button-counter {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
  padding-top: 10px;
}
.tweet-button {
  background-color: #006dcc;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  color:  #FFFFFF;
}
.humming {
  padding-top: 10px;
  width: 100%;
  display:flex;
  flex-direction: column;
  border-bottom: solid #006dcc;
}
textarea {
  border-color:  #f4f1ec;
  background-color:  #f4f1ec;
}
.counter {
  color: #084982
}

#tweet-container {
  display: flex;
  border: solid red;
}